@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body{
    background-color: #303841;
}
.container-card {
    background-color: #3A4750;
    border-radius: 20px;
    box-shadow: 0px 1px 8px 3px #0f1415;
    padding: 20px;
    height: 90%;
    margin: 10px;
    text-align: center;
  }
  
  .container-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container-card p {
    font-size: 24px;
    font-family: 'Tajawal', sans-serif;
    line-height: 1.5;
    color: #f9e38e;
  }

  .personal-pic{
    width: 10%;
    border-radius: 20px;
  }
  @media (max-width: 768px) {
    .personal-pic{
        width: 50%;
        border-radius: 30px;
      }
      .container-card p {
        font-size: 16px;
        line-height: 1.5;
      }
    
}	
footer{
    font-family: 'Tajawal', sans-serif;
}	
.f{
  color: red;  
}
  
a:visited {
    color: inherit;
    text-decoration: solid;
  }
a:link {
    text-decoration: underline;
  }
  
a:visited {
    text-decoration: underline;
  }a:link {
    text-decoration: underline;
  }
  
  a:visited {
    text-decoration: none;
  }
  .btn{

    font-family: 'Changa', sans-serif;

font-weight: 400;
/* height: 50px; */
font-size: 18px;
color: #ffffff;
/* background: linear-gradient(75deg, #D5B4B4 0%, #E4D0D0 89%); */
background-color: #323232;
padding: 10px 10px;
border: none #B83B5E 1px;
/* box-shadow: rgb(17, 17, 44) 0px 0px 9px 6px; */
border-radius: 12px;
margin:20px;
transition : 361ms;
transform: translateY(0);
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

.btn:hover{

transition : 200ms;
padding: 10px 41px;
transform : translateY(-1px);
background: linear-gradient(75deg, #43475d 0%, #7400cc 89%);
border: solid 1px #0066cc;
}