@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body{
    background-color: #303841;
}
.container-card {
    background-color: #3A4750;
    border-radius: 20px;
    box-shadow: 0px 1px 8px 3px #0f1415;
    padding: 20px;
    height: 90%;
    margin: 10px;
    text-align: center;
  }
  
  .container-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container-card p {
    font-size: 24px;
    font-family: 'Tajawal', sans-serif;
    line-height: 1.5;
    color: #f9e38e;
  }

  .personal-pic{
    width: 10%;
    border-radius: 20px;
  }
  @media (max-width: 768px) {
    .personal-pic{
        width: 50%;
        border-radius: 30px;
      }
      .container-card p {
        font-size: 16px;
        line-height: 1.5;
      }
    
}	
footer{
    font-family: 'Tajawal', sans-serif;
}	
.f{
  color: red;  
}
  
a:visited {
    color: inherit;
    text-decoration: solid;
  }
a:link {
    text-decoration: underline;
  }
  
a:visited {
    text-decoration: underline;
  }a:link {
    text-decoration: underline;
  }
  
  a:visited {
    text-decoration: none;
  }
