:root {
    --accentLight: #122d55;
    --accentDark: #307e88;
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Cairo', sans-serif;; 
}
body{
    height: 100vh;
    background-color: #0f0f0f;
    color: #f0f0f0;
    /* background-image: url('https://wallpaperaccess.com/full/4224720.jpg'); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.btn{
font-weight: 100;
font-size: 21px;
color: #ffffff;
background-color: var(--accentDark);
padding: 10px 35px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 9px;
transition : 217ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

main{
    margin-bottom: auto;
    background: #131313;
    height: auto;
    width: 100%;
    align-self: center;
}
.btn:hover{

transition : 217ms;
padding: 10px 46px;
transform : translateY(-0px);
background-color: #fff;
color: var(--accentDark);
border: solid 2px var(--accentDark);
}
div#main-menu-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
}
div#main-menu-btn-container button{
    margin: 20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
a:hover{
    color: var(--accentDark);
}
header{
    position: relative;
    padding: 1rem 2rem;
    background-color: #212121;
}

.navBar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar .logo a{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
}
.navBar .links{
    display: flex;
    gap: 2rem;
}
.navBar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: var(--accentLight);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
}
.action_btn:active{
    scale: 0.95;
}

/*drop down*/
.dropdown_menu{
    height: 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    backdrop-filter: blur(15px);
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    right: 2rem;
    top :60px;
    justify-content: space-between;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown_menu.open{
    height: auto;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    text-align: center;
}

.always-visible a{
    text-decoration: underline;
    font-size: 20px;
}


.footer{
    background-color: #0f0f0f;
    padding: 0 0 20px 0;
    margin-top: 0;    
    
    
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: var(--accentDark);
    position: relative;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--accentLight);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;    
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition:  all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
}
.footer-col .social-links a{
    display: inline-flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;    
    align-items: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--accentLight);
    transition: all 0.5s ease;    
}
.footer-col .social-links a:hover{
    color : #24262b;
    background-color: #fff;        
}
.always-visible {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #212121;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);

    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    
}
@media(max-width:700px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;        
    }
}
@media(max-width:574px){   
    .always-visible {        
        bottom: 0;
        right: 0;
        z-index: 999;
        background-color: #212121;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 100%;
        font-size: 20px;
        
    }
    #main-menu-btn-container button{
        font-size: 18px;
    }
}
@media(max-width:700px){
    .navBar .links,
    .navBar .action_btn{
        display: none;
    }
    .navBar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media(max-width:574px){
.dropdown_menu{
    left: 2rem;
    width: unset;
}
}
 