<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutpage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


        
    <title>
        About Kuffee
    </title>

</head>

<body>
    <header>

        <div class="navBar">
            <div class="logo"> <a href={{url_for('home')}}>Kuffee</a></div>
            <ul class="links">
                <li><a href={{url_for('home')}}>Home</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href={{url_for('about')}}>About us</a></li>
            </ul>

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
                <p>
                    =
                </p>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href={{url_for('home')}}>Home</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href={{url_for('about')}}>About us</a></li>
        </div>
    </header>

    <main>

        <div class="header-row">
            <h1>
                About Kuffee
            </h1>
        </div>
        <div id="what-is-kufee" class="topic-header">
            What is kuffee?
        </div>
        
        
        <div class="about-text">
            <p>
                Kuffee is a web application that is made by <a href="https://www.instagram.com/i.ponita0" class="author-name">''Ibrahim Abdelmonem''</a> AKA <a href="https://www.github.com/ponita0">Ponita0.</a>                                
            </p>
            <p>
                with Kuffee you can generate a grid as pdf, SVG or even EPS to import into adobe illustrator and start creating kufi designs
            </p>            
            <p>
                For more information about using it, go to the <a style="color: gray; text-decoration: underline;" href="/tutorials.html">Tutorials page</a>
            </p>
        </div>
        
        <div id="contact-us" class="topic-header">
            Contact Us
        </div>
        <div class="about-text">
            <p>
                If you want to reach us you can contact the creator directly through Instagram <a href="https://www.instagram.com/i.ponita0" class="author-name">@i.ponita0</a> or through telegram <a href="https://www.t.me/ponita0" class="author-name">@ponita0</a>
            </p>
        </div>
        <div id="privacy-policy" class="topic-header">
            Privacy Policy
        </div>
            <div class="about-text">
                this is a privacy policy

            </div>

        
    </main>


    <footer class="footer">
        <div class="always-visible">
            <span>
                Made with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet"
                    xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;">
                    <path
                        d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
                        fill="#e25555"></path>
                </svg> by
                <a href="https://instagram.com/i.ponita0">
                    Ibrahim Abdelmonem
                </a>

            </span>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Kuffee</h4>
                    <ul>
                        <li><a href="#">Home page</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tutorials</h4>
                    <ul>
                        <li><a href="#">how to use it</a></li>
                        <li><a href="#">usage in illustrator</a></li>
                        <li><a href="#">converting to pdf</a></li>
                        <li><a href="#">modify grid</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="#">what is kuffee ?</a></li>
                        <li><a href="#">Report a bug</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/kuffee"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropdownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
    }
</script>

</html>