<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Reem+Kufi&display=swap" rel="stylesheet">
   <style>
    .gifHolder{
        text-align: center;        
    }
    .gifHolder img {
        height: 50%;
    }
    @media (max-width: 768px) {
        .gifHolder img {
        height: 30%;
    }
    
}		
   </style>
   <title>
    Waiting page
   </title>
    <body onload="changeGif();">        
        <div class="gifHolder">
            <img id="gif" src="" alt="Random GIF"/>
        </div>

        <span class="title-holder">
                <span class="titlee">
                 Generating...  
                </span>
               </span>                                                           
    </body>


    <footer>
        <span class="footer">
            Made with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#e25555"></path></svg> by Ibrahim Abdelmonem            
        </span>        
        
    </footer>



     <script>
         // Create an array of GIF links
         var gifs = [
             "https://media.tenor.com/13VnwKt5qS0AAAAS/waiting.gif",
             "https://media.giphy.com/media/9G3wg7lH5DpxC/giphy.gif",
     "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjBhMzYyY2FlZjQ1ZmFhZGMyNjk3MGQyMWE3ZTgwNTFjM2I5OTkxZCZjdD1n/2WGDUTmsB4DzFuvZ2t/giphy.gif",
     "https://media.giphy.com/media/jc2PkKKr3clTBekMzn/giphy.gif"
      ];

      // Function to randomly pick a GIF from the array and display it
      function changeGif() {
        // Get a random index from 0 to the length of the array
        var index = Math.floor(Math.random() * gifs.length);

        // Get the img tag element
        
        var img = document.getElementById("gif");
        img.src = gifs[index];
        
        // Set the src attribute to the randomly picked GIF link
        setTimeout(function(){
            
            
            window.location.replace('/generate?width={{width}}&height={{height}}&type={{type}}');
        }, 400);
    }
      </script> 

</html>